<!DOCTYPE html>
<html>
<head>
  <title>MadloveCms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fluid-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="container nav-collapse">
          <ul class="nav">
            <li><%= link_to 'Projects' %></li>
            <li><%= link_to 'Inbox' %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


<%= yield %>

</body>
</html>
