<!DOCTYPE html>
<html>
<head>
  <title>MadloveCms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fluid-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="container nav-collapse">
          <ul class="nav">
            <li><%= link_to 'What is Madlove?', '/' %></li>
            <li><%= link_to 'Get involved', '/get-involved' %></li>
            <li><%= link_to "Who's behind it", '/whos-behind-it' %></li>
            <li><%= link_to 'Mailing list', '/mailing-list' %></li>
            <li><%= link_to 'Submit Your Ideas', '/submit-your-ideas' %></li>
            <li><%= link_to 'Audio version of website', '/audio-version-of-site' %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


<%= yield %>

</body>
</html>
