<!doctype html>
<html>
  <head>
    <title><%= @page.title %></title>
    <meta name="description" content="<%= @page.meta_description %>">
    <%= stylesheet_link_tag *%w[
      application
    ] %>
    <%= javascript_include_tag *%w[
      application
    ] %>
  </head>
  <body class="layout-default">
  <nav class="navbar navbar-fluid-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="container nav-collapse">
          <ul class="nav">
            <li><%= link_to 'Projects' %></li>
            <li><%= link_to 'Inbox' %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
    <section id="main" role="main">
      <%= container "content" %>
    </section>
  </body>
</html>
